* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

:root {
  --brand: #3551d5;
}

.Header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background-color: var(--brand);
}

.Title {
  display: none;
}

.Search {
  width: 70%;
  display: flex;
}

.Search_input {
  width: 90%;
  padding: 0.5rem;
}

.Category__button {
  display: none;
}

.Menu__button {
  height: 3rem;
}

.Menu__button img {
  height: inherit;
}

.button {
  border: none;
}

.Pagination__arrow {
  width: 1.5rem;
  height: 1.5rem;
}

.Footer {
  display: flex;
  padding: 1rem;
  justify-content: center;
  background-color: var(--brand);
}

.Footer__text {
  color: white;
  margin-right: 0.5rem;
}

.link {
  color: #4183c4;
}
